trigger:
- main

pool: 
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'devopspoc'
  containerRegistry: 'acrproddevopskrn.azurecr.io'

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: Build
    steps:

      - script: |
          ls
          docker build -t $(containerRegistry)/$(imageName):$(Build.BuildId) $(Build.SourcesDirectory)
        displayName: 'Build Docker Image'

      - task: AzureCLI@2
        displayName: 'Authenticate with Azure'
        inputs:
          azureSubscription: 'AzureDevOps-POC'
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: 'az acr login --name $(containerRegistry)'



      - script: |
          docker push $(containerRegistry)/$(imageName):$(Build.BuildId)
        displayName: 'Push Docker Image'

      - script: |
          echo "Image $(containerRegistry)/$(imageName):$(Build.BuildId) pushed successfully"
        displayName: 'Confirm Push'

      - task: AzureCLI@2
        displayName: 'Authenticate with AKS'
        inputs:
          azureSubscription: 'AzureDevOps-POC'
          scriptType: 'bash'
          scriptLocation: 'inlineScript'
          inlineScript: 'az aks get-credentials --resource-group RG-prod-devopskrn --name AKS-prod-devopskrn'

      - script: |
          echo "Deploying application to AKS using Helm"
          helm upgrade --install $(imageName) ./helm \
            --set image.repository=$(containerRegistry)/$(imageName) \
            --set image.tag=$(Build.BuildId) \
            --namespace default --create-namespace
        displayName: 'Deploy to AKS'