replicaCount: 1

image:
  repository: acrproddevopskrn.azurecr.io/devopspoc
  pullPolicy: IfNotPresent
  tag: "latest"

containers:
  type: devopspoc
  port: 8080

service:
  type: LoadBalancer
  port: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}